{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header text-center">Welcome to the monitoring tool!</h1>
    {% for value in values %}
        {{ value }}
    {% endfor %}
{% endblock %}
